{% extends 'blog/base.html' %}
{% load static %}

{% block css_files %}
<link href="{% static 'core.css' %}" rel="stylesheet">
{% endblock %}

{% block title %} Sign In {% endblock %}

{% block content %}
<br><br><br><br><br>
<div class="d-flex justify-content-center">
    <div class="card col-md-6">
        <div class="card-header">
            <h5>Sign In</h5>
        </div>
        <div class="card-body">
            <form action="", method="POST">
                {% csrf_token %}

                {% for field in form %}
                <div class="form-group has-validation">
                    <div class="mb-3">
                        <label class="form-label">{{ field.label_tag }}</label> 
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
                {% if form.errors %}
                    <div class="invalid-message">
                        <p>Your username and/or password didn't match. Please try again.</p>
                    </div>
                {% endif %}

                <button class="btn btn-primary theme-color">Sign In</button>
                <small><br><p><a href="{% url 'core:password_reset_page' %}">Forgot your password?</a></p></small>
            </form>
        </div>
    </div>
</div>
{% endblock %}