{% extends 'blog/base.html' %}
{% load static %}

{% block css_files %}
<link href="{% static 'core.css' %}" rel="stylesheet">
{% endblock %}

{% block title %} Password Reset Complete {% endblock %}

{% block content %}

<br><br><br><br><br>
<div class="d-flex justify-content-center">
    <div class="card col-md-8">
        <div class="card-body">
            <h5>You password has been successfully reset.</h5> <a href="{% url 'core:sign_in_page' %}">Sign In</a>
        </div>
    </div>
</div>

{% endblock %}